{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
{% load bootstrap %}

<div class="container">






  <!-- About Us Area -->
  <section class="about_us_area row">
      <div class="container-fluid">
        <div class="subtittle"><br><br><br><br>
            <h2>Operator List </h2>
        </div>
        <br>
          <div class="row">
            <br>
            <form  method="post" >
              {{ form|bootstrap }}
              {% csrf_token %}
              <input type="submit" class="btn btn-warning" name='Submit'/>
            </form>
            <br>
            <br>



          </div>
      </div>
  </section>
  <!-- End About Us Area -->
</div>


{% endblock %}
